:root {
  --text-align: center;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  --border: 1px solid #6c63ff;
  --primary-color: #6c63ff;
  --secondary-color: #c6b8c8;
}
.container {
  margin: 40px;
  text-align: var(--text-align);
}
.head {
  background-color: #f9f7fe;
  margin: 50px auto;
  padding-bottom: ;
}

.name {
  text-align: var(--text-align);
  font-family: "Playfair Display";
  font-weight: bold;
  font-size: 96px;
  margin: 0;
}
h2 {
  font-family: "Poppins";
  font-size: 36px;
  text-align: var(--text-align);
  font-style: italic;
  font-weight: 300;
}
h4 {
  text-align: var(--text-align);
  font-family: "Poppins";
  font-size: 24px;
  opacity: 1;
}
.ample {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  text-transform: capitalize;
}
#link {
  text-decoration: none;
  padding: 18px 30px;
  border-radius: 10px;
  color: white;
  background: var(--primary-color);
}
#linkk {
  text-decoration: none;
  padding: 20px 10px;
  border-radius: 5px;
  color: var(--primary-color);
  border: var(--border);
}
.container {
  margin: 40px;
  text-align: center;
}
p {
  padding: 20px;
  border-radius: 5px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}
@media (max-width: 576px) {
  body {
    max-width: 100% !important;
    height: 100% !important;
  }
  h4 {
    font-size: 15px;
  }
  #images {
    display: none;
  }
  h1 {
    font-size: 30px !important;
    font-weight: 600;
  }
  h2 {
    font-size: 25px;
  }
  p {
    text-align: left;
    font-size: 15px;
  }
  #image {
    width: 300px;
    margin: 10px !important;
  }
  #contact {
    display: block;
  }
}
